body{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

header{
    display: flex;
    justify-content: center;
}

.container{
    display: flex;
    justify-content: space-between;
    width: 1000px;
}

.menu{
    margin-top: 10px;
}

nav ul{
    display: flex;
}
nav ul li{    
    list-style: none;
}
nav ul li :hover{
    background-color: #f56709;
    color: #fff;
}

nav a{
    text-decoration: none;
    color: #f56709;
    padding: 15px;
    text-transform: uppercase;
}

#login_decoracao{
    background-color: #f56709;
    color: #fff;
}

.logo{
    margin-top: 15px;
    align-items: center;
    display: flex;
}
.logo a :hover{
    width: 100px;
}

#banner{
    margin-top: 12px;
    display: flex;
    justify-content: center;
    background-image: url('../img/CaixaDeSom2.jpg');
    background-position: center;
    background-size: cover;
    height: 640px;
}

.banner_headline{
    display: flex;
    flex-direction: column;
    margin-top: 180px;
}

.banner_headline h1, h2{
    margin: 0px;
    color: #fff;
}

.banner_headline h1{
    font-size: 70px;   
}
.banner_headline h1 a{
    text-decoration: none;
    color: #f56709;
}

.banner_headline h2{
    font-size: 33px;
}

#buyNow{
    margin-top: 20px;
    font-size: 15px;
}
#buyNow a{
    text-decoration: none;
    color: #fff;
    background-color: #f56709;
    padding: 10px;
    margin-left: 8px;
}
#buyNow a:hover{
    background-color: #ad481c;
    color: #c5c5c5;
}

#geral{
    display: flex;
    justify-content: center;
    background-color: #000;
    color: #fff;
}

.banner_title{
    font-size: 40px;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bar_title{
    width: 120px;
    height: 3px;
    background-color: #f56709;
    margin-top: 20px;
    margin-bottom: 40px;
    border-radius: 2px;
}

.motives{
    align-items: center;
    flex-direction: column;
}

#numbers{
    display: flex;
}

.line{
    width: 100px;
    height: 1px;
    border-bottom: dotted 2px #f56709;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
}

.number_motives{
    margin-bottom: 10px;
}

#motives_desc{
    display: flex;
    margin-bottom: 70px;
}

.motive{
    width: 180px;
    text-align: center;
}

#motive_1{
    margin-left: -60px;
}
#motive_2{
    margin-left: 15px;
}
#motive_3{
    margin-left: 20px;
}
#motive_4{
    margin-left: 25px;
}

.specification-class{
    align-items: center;
    flex-direction: column;
}

#specification{
    display: flex;
    justify-content: center;
    background-color: #000;
    color: #fff;
}

#banner_title_specification{
    margin: 0px;
}

.specification_desc{
    align-self: start;
}

.specification_desc h1{
    color: #f56709;
}
.specification_desc p{
    font-size: 15px;
    font-weight: 1;
    color: #5c5c5c;
    text-align: justify;
    padding-bottom: 20px;
    border-bottom: solid 1px #5c5c5c;
    margin-bottom: 25px;
}

#correcao_p{
    margin-left: 215px;
}
#last_p{
    border: 0px;
}






footer {
    height: 90px;
    background-color: #1e1e1e;
    display: flex;
    align-items: center;
    justify-content: center;
}
.rodape_minhas_redes {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-right: 10px;
    border-right: 1px dotted #5c5c5c;
}
.rodape_fontes {
    margin-left: 10px;
    margin-top: -25px;
}
.rodape_fontes a {
    text-decoration: none;
    color: #5c5c5c;
}
#wiki {
    margin-left: 56px;
}

.footer_copy {
    margin-top: 10px;
    margin-left: 30px;
    color: #5c5c5c;
    border-bottom: 2px dotted #2c2c2c;
}

.footer_img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

#insta {
    width: 30px;
    padding-right: 8px;
}
#linke {
    width: 36px;
}
#git {
    width: 48px;
}

#banner_newDisplay{
    display: none;
}
.motives_820px{
    display: none;
}

.menu_mobile{
    display: none;
    width: 40px;
    height: 40px;
}

.mm_line{
    height: 3px;
    background-color: #f56709;
}


@media (max-width: 1020px){
    .container{
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media (max-width: 820px){
    .motives{
        display: none;
    }

    #banner_title_specification{
        display:flex ;
    }

    .motives_820px{
        display: flex;
        flex-direction: column;
    }
    
    .banner_motives_newDisplay{
        display: flex;
        flex-direction: column;
    }

    .number_motives{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 20px;
        margin-bottom: 80px;
    }

    .banner_title{
        margin-bottom: 30px;
    }

    .specification-class{
        margin-top: 100px;
    }

    .number_motives img{
        width: 80px;
        margin-bottom: 15px;
    }

    #banner{
        display: none;
    }

    #banner_newDisplay{
        margin-top: 12px;
        display: flex;
        justify-content: center;
        background-image: url('../img/CaixaDeSom3.jpg');
        background-position: center;
        background-size: cover;
        height: 540px;
    }

    .banner_headline{
        margin-top: 150px;
    }
}

@media (max-width: 700px){
    #banner_newDisplay{
        height: 440px;
    }

    #banner_newDisplay h1{
        font-size: 60px;
    }
    #banner_newDisplay h2{
        font-size: 23px;
    }
    #buyNow{
        margin-top: 15px;
        font-size: 15px !important;
    }

    .banner_headline{
        margin-top: 180px;
    }

    .motives_820px{
        display: none;
    }

    .motives{
        display: flex;
    }

    .number_motives img{
        width: 50px;
    }

    .number_motives{
        margin-bottom: 0px;
    }

    #numbers{
        justify-content: center;
    }

    .line{
        width: 50px;
    }

    .motive{
        margin: 0px;
        width: 100px;
    }
    
    #motives_desc{
        justify-content: center;
    }

    #motive_1{
        margin-left: 0px;
    }
    #motive_2{
        margin-left: 55px;
    }
    #motive_3{
        margin-left: 50px;
    }
    #motive_4{
        margin-left: 50px;
    }

    header .container{
        flex-direction: row-reverse;
    }

    .menu_mobile{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    nav ul{
        flex-direction: column;
        display: none;
        position: absolute;
        width: 30%;
        left: 0px;
        background-color: #fff;
        margin: 0px;
        padding: 0px;
    }

    nav ul li{
        margin: 3px;
        display: flex;
        justify-content: center;
    }

    .logo{
        margin-right: 20px;
    }
}